RewriteEngine on

RewriteRule ^/?$ index.php
RewriteRule ^signIn?$ ./php/pages/signIn.php
RewriteRule ^logIn?$ ./php/pages/logIn.php
RewriteRule ^logEd?$ ./php/pages/logEd.php
RewriteRule ^showPost/([0-9]+) ./php/pages/showPost.php?post_id=$1
RewriteRule ^showPost/([a-z]+) ./php/pages/postNotFound.php
RewriteRule ^newPost?$ ./php/pages/newPost.php
