* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    min-height: 100vh;
    padding: 20px;
}

nav {
    max-width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    padding:20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: whitesmoke;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: blue;
}

.nav-links a{
    padding: 5px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 48, 48);
}

.nav-links a:hover{
    text-decoration: underline;
}

.show-menu a:hover{
    text-decoration: underline;
}

.intro-container {
    width: 100%;    
    border-bottom:solid .3px gray;
    position: relative;
    top: 3rem;
}

.intro-img-container {
    width: 100%;
    height: 300px;
}

.intro-img-container img {
    width: 100%;
    height: 300px;
    border-radius: 2px;
}

.text-container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    text-align: left;
    padding: 10px;
}

.news {
    position: relative;
    top: 3.5rem;
    border-bottom: solid .3px gray;
    padding-bottom: 20px;
  
}

.new-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 40px;
}

h2,h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
} 

img{
    border: none;
}

.post-container {
    width: 300px;
    height: 300px;
    border: solid .1px rgb(182, 182, 182);
    border-radius: 5px;
    margin-bottom:30px;
} 

.post-header {
    width: 100%;
    height: 60px;
    /* border-bottom: solid .3px gray; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow-y: hidden;
}

.profil {
    height: 60px;
}

.annonces {
    position: relative;
    top: 4rem;
    border-bottom: solid .3px gray;
  
}

.profil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid .1px gray;
}

.new-img-container{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: solid .4px gray;
}

.new-img-container img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}


.profil-info {
    text-align: left;
    padding: 5px;
    line-height: 25px;
}

.name p {
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date p {
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-body {
    width: 100%;
    border-bottom: solid .3px gray;
    height: calc(100% - 100px);
    overflow: hidden;
}

.post-body img {
    width: 100%;
    height: 200px;
    border:none
}

.post-footer {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: auto auto;

}

.btn-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-info a {
   padding:10px 10px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.likes {
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.btn-more a {
    padding: 10px 15px;
    background-color: blue;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-decoration: none;
    border-radius: 2px;
}

.btn-more a:hover {
    background-color: rgba(0, 0, 255, 0.866);
}


.btn-more {
    width: auto;
}

.contact {
    position: relative;
    top: 4rem;
    border-bottom: solid .3px gray;
    padding-bottom: 20px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 input {
    margin-bottom: 10px;
    padding: 10px;
 }

 input:focus {
    outline-color: blue;
   
 }

 textarea:focus {
    outline-color: blue;

 }
label {
    margin-bottom: 5px;
}
#form-envoyer {
    background-color: blue;
    margin-top: 7px;
    border: none;
    color: white;
    border-radius: 2px;
}

#form-envoyer:hover{
    background-color: rgb(13, 13, 210);
}
h4 {
    margin-bottom: 10px;
    margin-top: 10px;
}

footer {
    position: relative;
    top: 4rem;
    border-bottom: solid .3px gray;
    padding-bottom: 20px;
    text-align: center;
    background-color:  whitesmoke;
}

.rs-links {
    margin-bottom: 10px;
}

footer a {
    padding: 10px;
    color: black;
}

.access a {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.access a:hover{
    text-decoration: underline;
}

.nav-toggle-icon{
    display: none;

}

.post-text {
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    text-align: center;
    overflow: hidden;
    border-bottom: solid .3px gray;
}

.btn-read {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.hide-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -5.5rem;
    z-index: 1;
    left: 0;
    right: 0;
    transition: all .5s ease-in-out;
    align-items: center;
    background-color: whitesmoke;  
}

.hide-menu a{
    text-decoration: none;
    color: color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.show-menu a{
    text-decoration: none;
    color: color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.show-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    position: fixed;
    top: 3.4rem;
    z-index: 1;
    transition: all .5s ease-in-out;
    background-color: whitesmoke;
}

em {
    text-decoration: underline;
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: underline;
}

.switch {
    width: 70px;
    height: 30px;
    background-color: whitesmoke;
    position: relative;
    margin:10px auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: inset 0px 0px 6px;
    display: flex;
    align-items: center;
    transition: all .5s ease-in-out;

}

.switch-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: outset 0px 0px 6px;
    background-color: white;
    border: solid 1px rgb(224, 224, 224);
    transition: all .5s ease-in-out; 
}

.leftRight {
    transform: translateX(40px);
    transition: all .5s ease-in-out;
}

.dark {
    background-color: rgb(53, 52, 52);
    border: solid 1px rgb(71, 69, 69);
    box-shadow: outset 0px 0px 6px white;
    transition: all .5s ease-in-out; 
    width: 30px;
    height: 30px;

}

.switchDark {
    width: 70px;
    height: 30px;
    background-color: rgb(91, 87, 87);
    position: relative;
    margin:10px auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: inset 0px 0px 6px white;
    display: flex;
    align-items: center;
    transition: all .5s ease-in-out;
}

.author{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}
.hide-menu svg, .show-menu svg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.sign-in-btn {
    margin: 20px 0 10px 0;
}

.sign-in-btn a{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    border-radius: 2px;
}

.sign-in-btn a:hover {
    background-color: rgba(0, 0, 255, 0.8);
}




/* 
--------------------------------------------------
-------style pour le mode sombre------------------
--------------------------------------------------
*/

.nav-dark {
    background-color: rgb(91, 87, 87);
}

.footer-dark {
    background-color: rgb(91, 87, 87);
    color: rgb(220, 216, 216);
}

.footer-dark a{
    color: rgb(220, 216, 216);
}

.nav-links-dark a {
    color: rgb(220, 216, 216);
}

.container-dark {
    background-color: rgba(0, 0, 0, 0.895);
    color: white;
}

.hide-menu-dark {
    background-color: rgb(91, 87, 87);
    color: rgb(220, 216, 216);
}

.show-menu-dark a{
    background-color: rgb(91, 87, 87);
    color: rgb(220, 216, 216);
}

.sombre-icon {
    position: relative;
    left: 3.3rem;
    top: -2.2rem;
}

.clair-icon {
    position: relative;
    left: -3.3rem;
    top: 2.2rem;
    color: orange;
}

/* 
--------------------------------------------------
-------la responsive design ------------------
--------------------------------------------------
*/
@media screen and (max-width:493px){
    .nav-links{
        display: none;
    }

    .nav-toggle-icon {
        display:block;
    }

}